/* Efecto de hover para las cards */
.dashboard-card {
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

/* Efecto de escala al pasar el mouse */
.dashboard-card:hover {
    transform: scale(1.05);
}

/* Colores de fondo al pasar el mouse */
.dashboard-card.border-primary:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Azul */
}

.dashboard-card.border-success:hover {
    background-color: rgba(40, 167, 69, 0.1); /* Verde */
}

.dashboard-card.border-warning:hover {
    background-color: rgba(255, 193, 7, 0.1); /* Amarillo */
}

.dashboard-card.border-danger:hover {
    background-color: rgba(220, 53, 69, 0.1); /* Rojo */
}

#misPrestamos.table {
    background-color: transparent !important; /* Elimina el fondo de la tabla */
}

#misPrestamos td.estado {
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;

}

#misPrestamos td.estado > span {
    display: block;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    height: 100%; /* Asegurar altura completa */
    line-height: normal; /* Mantener alineación vertical */
}

#misPrestamos .estado-aprobado {
    background-color: #28a745 !important; /* Verde para aprobado */
    color: white !important;
}

#misPrestamos .estado-pendiente {
    background-color: #ffc107 !important; /* Amarillo para pendiente */
    color: black !important;
}

#misPrestamos .estado-finalizado {
    background-color: #6c757d !important; /* Gris para finalizado */
    color: white !important;
}

#misPrestamos .estado-rechazado {
    background-color: #dc3545 !important; /* Rojo para rechazado */
    color: white !important;
}
