/* Efecto de hover para las cards */
.dashboard-card {
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

/* Efecto de escala al pasar el mouse */
.dashboard-card:hover {
    transform: scale(1.05);
}

/* Colores de fondo al pasar el mouse */
.dashboard-card.border-primary:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Azul */
}

.dashboard-card.border-success:hover {
    background-color: rgba(40, 167, 69, 0.1); /* Verde */
}

.dashboard-card.border-warning:hover {
    background-color: rgba(255, 193, 7, 0.1); /* Amarillo */
}

.dashboard-card.border-danger:hover {
    background-color: rgba(220, 53, 69, 0.1); /* Rojo */
}